{% extends 'base.html' %}

{% block static-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock static-files %}

{% block message %}
    {% if message and message.strip %}
        <div class="p-3 mb-2 {{ message_type }} text-white" style='text-align: center'>{{ message }}</div>
    {% endif %}
{% endblock message %}

{% block content %}

<div class="col-lg-12 well">
    <form class="form-signin form-signup" method="POST">
        {% csrf_token %}

        <div class="col-sm-12">
            <h2 class="form-signin-heading">Create an account</h2>
            <div class="form-group">
                {{ form.username.label_tag }}
                 {{ form.username }}
                 {{ form.username.errors }}
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form.first_name.label_tag }}
                     {{ form.first_name }}
                     {{ form.first_name.errors }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form.last_name.label_tag }}
                     {{ form.last_name }}
                     {{ form.last_name.errors }}
                </div>
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                 {{ form.email }}
                 {{ form.email.errors }}
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form.password1.label_tag }}
                     {{ form.password1 }}
                     {{ form.password1.errors }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form.password2.label_tag }}
                     {{ form.password2 }}
                     {{ form.password2.errors }}
                </div>
                <div class="col-sm-6 form-group">
                    <label for="developer" >Developer checkbox</label>
                    <input id="developer" name="developer" class="form-check-label" type="checkbox">
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-info">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}
