<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/core.css" %}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script>
        //AFTER MERGING WITH MASTER, DUMP THIS IN STATIC
            $(document).ready(function () {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            };
                        };
                    };
                    return cookieValue;
                };
                var csrftoken = getCookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                };
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        };
                    }
                });
                "use strict";
                window.addEventListener("message", function(evt) {
                    if(evt.data.messageType === "SCORE" || evt.data.messageType === "SAVE") {
                        $.ajax({
                            type: "POST",
                            url: window.location.href + "/request",
                            data: evt.data,
                            datatype: "json",
                        });
                    } else if(evt.data.messageType === "LOAD_REQUEST") {
                        $.ajax({
                            type: "GET",
                            url: window.location.href + "/request",
                            data: evt.data,
                            datatype: "json",
                            success: function(response) {
                                document.getElementById("iFrameWindow").contentWindow.postMessage(response, "*");
                            },
                        });
                    } else if( evt.data.messageType === "SETTING") {
                        $("#iFrameWindow").width(evt.data.options.width).height(evt.data.options.height);
                    };
                });
            });
        </script>
        <title>Virtual Gamestore</title>
        {% block static-files %}{% endblock static-files %}
    </head>
    <body>
        {% comment "initial work for announcement bar, must be redone. JUST found out about django message framework, must be converted to that." %}

        {% block announcement %}
            {% if announcement and announcement.strip %}
                <div class="p-3 mb-2 bg-warning text-black" style='text-align: center'>{{ announcement }}</div>
            {% endif %}
        {% endblock announcement %}

        {% endcomment %}


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">VG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                            <a class="dropdown-item" href="{% url 'my_games' %}">My Games</a>
                            <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'user_login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
                        {% endif %}
                    </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        {% block message %}{% endblock message %}

            {% if display %}
                    <div class="p-3 mb-2 bg-{{color}} text-white" style='text-align: center'>{{ purchase_message }}</div>
            {% endif %}

        <div class="content">
            {% block content %}{% endblock content %}
        </div>
  </body>
</html>
