{% extends "base.html" %}
{% block static-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock static-files %}

{% block content %}

<div class="container">
	<!--Category choices-->
	<div class="text-center">
		<ul class="uliuli">
			{% for n,category in categorychoices %}
				<li class="nav-item">
					<a class="btn btn-lg btn-info" href="{% url 'categories_page' %}?cat={{ category }}">{{ category }}</a>
				</li>
			{% endfor %}
			<li class="nav-item">
				<a class="btn btn-lg btn-info" href="{% url 'categories_page' %}">All</a>
			</li>
		</ul>
	</div>
	<!-- if request.GET.cat in category -->
	{% if request.GET.cat|length > 0 %}
		<h1>Browsing {{ request.GET.cat }}</h1>
	{% else %}
		<h1>Browsing All</h1>
	{% endif %}
	<!--Result content-->
	<table class="table">
	    <thead class="thead-inverse">
            <tr>
            	<th></th>
                <th>Game</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
	    </thead>
		{% for game in games_list %}
        <tbody class="searchresult">
            <tr>
            	<th>
                     <img class="img-fluid rounded" alt="" src="{{ game.image_url }}">
                </th>
                <th>
                    <a class="link" href="{% url 'game_view' game.id %}">{{ game.name }}</a>
                </th>
                <th>
                    {{ game.description|truncatechars:100 }}
                </th>
                <th>
                    <!--Price or owned-->
                    {% if request.user.is_not_authenticated %}
                        {% if game.price == 0 %}
                            Free
                        {% else %}
                            {{ game.price }}€
                        {% endif %}
                    {%else%}
                        {% if game in user_games or game.owner == user %}
                            owned
                        {% else %}
                            {% if game.price == 0 %}
                                Free
                            {% else %}
                                {{ game.price }}€
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
        </tbody>
		{% endfor %}
	</table>
</div>

{% endblock content %}
