{% extends "base.html" %}

{% block static-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dev_edit.css' %}">
{% endblock static-files %}

{% block content %}
<div class="col-lg-12 well">
    <div class="col-sm-12">
        <form action="{% url 'add_game' %}" method="POST" id="game-form" class="form-game form-signup">
            {% csrf_token %}
            <h2 class="form-game-heading">Add Game</h2>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="game_name">Game name</label>
                    <input id="game_name" name="name" placeholder="Game name" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="game_url">Game url</label>
                    <input id="game_url" name="url" placeholder=" " type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="game_description">Description</label>
                    <input id="game_description" name="description" placeholder=" " type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="game_price">Price</label>
                    <input id="game_price" name="price" placeholder=" " type="number" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-lg btn-info">
                <span></span>
                    Add Game
                </button>
            </div>
        </form>
    </div>

    <div>
        {% for game in games %}
            <div id="gameEdit{{game.id}}" class="col-sm-12">
                <form action="{% url 'edit_game' %}" method="POST" id="game-form" class="form-game form-signup">
                    {% csrf_token %}
                    <h2 class="form-game-heading">Edit {{game.name}}</h2>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="name">Game name</label>
                            <input id="name" name="name" placeholder="{{game.name}}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="url">Game url</label>
                            <input id="url" name="url" placeholder="{{game.url}}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" name="description" placeholder="{{game.description}}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" name="price" placeholder="{{game.price}}" type="number" class="form-control"/>
                        </div>
                        <input type="hidden" name="id" value={{ game.id }} />
                        <button type="submit" class="btn btn-lg btn-info">
                        <span></span>
                            Edit Game
                        </button>
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
