{% extends "base.html" %}

{% block static-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dev_edit.css' %}">
{% endblock static-files %}


{% block content %}
    <div class="col-lg-12 well">
        <div class="col-sm-12">
            <form action="{{ request.build_absolute_uri }}" method="POST" id="game-form" class="form-game form-signup">
                {% csrf_token %}
                <h2 class="form-game-heading">Edit {{game.name}}</h2>
                <div class="col-sm-12">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }} {{ form.field.value|default_if_none:"" }}
                            {{ field.errors }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-lg btn-info">
                    Edit Game
                </button>
            </form>
        </div>
    </div>
{% endblock %}
