{% extends "base.html" %}

{% block static-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock static-files %}

{% block content %}
{% load static %}
<script src="{% static 'js/game_messaging.js' %}"></script>
{% if creator %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{% static 'js/statistics.js' %}"></script>
{% endif %}


{% if owned %}
    <p id="url" hidden >{{url}}</p>
    <div class="game-container">
    	<div id="gameWindow" class="col-sm-12 game-window" >
    		<h2 class="text-center" >{{game.name}}</h2>
    		<iframe id="iFrameWindow" class="embed-responsive embed-responsive-4by3 iFrame-window" src="{{game.url}}"></iframe>
        </div>
        {% if creator %}
        <div class="game-statistics">
            <canvas id="statisticsChart"></canvas>
        </div>
        {% endif %}
        {% if scores %}
            <h3 class="text-center">TOP SCORE</h3>
            <div class="col-sm-12 game-top-score">
                {% for score in scores %}
                    <h2>{{ forloop.counter }}. {{score.score}} points: {{score.user.username}}</h2>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% else %}
	<div class="game-form game">
		<h2 class="game-heading text-center">You must buy the game first</h2>
		<h4 style="text-align: center">{{game.name}}</h4>
        <img class="img-fluid rounded" src={{game.image_url}} alt="{{game.description}}">
		<form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
	    <input type="hidden" name="pid" value={{ pid }} >
	    <input type="hidden" name="sid" value={{ sid }} >
	    <input type="hidden" name="success_url"
	            value={{ request.build_absolute_uri }}/buy >
	    <input type="hidden" name="cancel_url"
	            value={{ request.build_absolute_uri }}/buy >
	    <input type="hidden" name="error_url"
	            value={{ request.build_absolute_uri }}/buy >
	    <input type="hidden" name="checksum"
	            value={{ checksum }} />
        <input type="hidden" name="amount" value={{ amount }}>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Pay {{game.price|floatformat:2}} €</button>
		</form>
	</div>
{% endif %}
{% endblock %}
